body {
  margin: 0;
  padding: 0;
}

#rain-canvas {
	position: absolute;
	/*background: linear-gradient(to bottom, #1C2336, #ED9448);*/
	/*#2a2a3d*/
	background: linear-gradient(to bottom, #00293C, #000000);
}